
input_images/
.idea/
__pycache__/Ui_main_pages.cpython-37.pyc
cfg/cartoon_yolo.weights
output/
__pycache__/Ui_table_page.cpython-37.pyc
build/
dist/
main_window.spec
*.gif
UI Images/video_firstFrame.png
*.csv
*.pyc
